<div class="container-fluid">
    <section class="chat-wrapp" #scrollMe >
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="chat-item" [class.my-messages]="user.id == item?.uid" *ngFor="let item of items | async">
                    <h4>
                        {{ item?.user }}
                        <!-- <button style="position: absolute;top: 0;left: 0;z-index: 1;" class="btn btn-danger" (click)="deleteItem(item.$key)" *ngIf="user.id == 'jKcx2W1qh2XdtFi0OykySIVa1MP2'"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
                    </h4>
                    <div class="time">{{ item?.data | date:"HH:mm dd/MM/yy" }}</div>
                    <div class="item-message">
                        <img [src]="item?.img" alt="..." >
                        <div class="item-text" [innerHTML]="item?.text" *ngIf="!item?.fileImgDownload && !item?.fileDocDownload"></div>
                        <div class="item-text image-blok" *ngIf="item?.fileImgDownload">
                            <a href="{{item?.fileImgDownload}}">
                                <img  [src]="item?.fileImgDownload" alt="">
                            </a>
                        </div>
                        <div class="item-text file-block" *ngIf="item?.fileDocDownload">
                            <a href="{{item?.fileDocDownload}}">
                                {{item?.fileDocName}}
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <footer>
                <emoji-input  #emojiInput (keypress)="submitMessage($event)" [popupAnchor]="'bottom'"></emoji-input>
                <button class="send-btn" (click)="sendMessage()">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
                <div class="image-preview-input">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                    <input type="file" (change)="loadImg($event)" accept="image/png, image/jpeg, image/gif" name="input-img-preview"/>
                </div>
                <div class="image-preview-input">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <input type="file" (change)="loadFiles($event)" name="input-file-preview"/>
                </div>
            </footer>
        </div>
    </div>
</div>
