
<div class="container" >
    <div class="row">
      <div class="col-md-12">
          <div class="list-group">
              <div class="list-group-item clearfix">
                  <div class="lable-info">Моб. телефон:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" [(ngModel)]="user.telSet" class="form-control" placeholder="{{(person | async)?.telSet || ''}}">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">Email:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="user.emailSet" placeholder="{{(person | async)?.emailSet || (person | async)?.email || ''}}">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">День народження:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" [(ngModel)]="user.birthSet" class="form-control" placeholder="{{(person | async)?.birthSet || ''}}">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">Місто:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" [(ngModel)]="user.townSet" class="form-control" placeholder="{{(person | async)?.townSet || ''}}">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">Місце роботи:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" [(ngModel)]="user.workSet" class="form-control" placeholder="{{(person | async)?.workSet || ''}}">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">ВНЗ:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" [(ngModel)]="user.stadySet" class="form-control" placeholder="{{(person | async)?.stadySet || ''}}">
                      </div>
                  </div>
              </div>
          </div>
          <a class="btn setting-profile" routerLink="/" role="button">Відмінити</a>
          <a class="btn setting-profile" routerLink="/" (click)="settingSet()" role="button">Зберегти</a>
      </div>
    </div>
</div>
