
<div class="container" >
    <div class="row">
      <div class="col-md-12">
          <div class="list-group">
              <div class="list-group-item clearfix">
                  <div class="lable-info">Моб. телефон:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text"  class="form-control" #telSet [value]="(person | async)?.telSet || ''" >
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">Email:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" class="form-control" #emailSet [value]="(person | async)?.emailSet || (person | async)?.email || ''">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">День народження:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" class="form-control" #birthSet [value]="(person | async)?.birthSet || ''">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">Місто:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" class="form-control" #townSet [value]="(person | async)?.townSet || ''">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">Місце роботи:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" class="form-control" #workSet [value]="(person | async)?.workSet || ''">
                      </div>
                  </div>
              </div>
              <div class="list-group-item clearfix">
                  <div class="lable-info">ВНЗ:</div>
                  <div class="text-inform">
                      <div class="form-group">
                        <input type="text" class="form-control" #stadySet [value]="(person | async)?.stadySet || ''">
                      </div>
                  </div>
              </div>
          </div>
          <a class="btn setting-profile" routerLink="/" role="button">Відмінити</a>
          <a class="btn setting-profile" routerLink="/" (click)="settingSet()" role="button">Зберегти</a>
      </div>
    </div>
</div>
