<div class="login-container">
    <h2>Войдите на ресурс</h2>
    <!-- <h1>Web-Systems</h1> -->
    <!-- <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="userEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="userPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <button type="button" (click)="loginPassword()" class="btn btn-primary btn-block">Submit</button>
    </div> -->
    <h4>с помощью аккаунта:</h4>
    <div>
        <button  class="login-btn" (click)="loginGoogle()">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </button>
        <button  class="login-btn" (click)="loginFacebook()">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button  class="login-btn" (click)="loginGitGub()">
            <i class="fa fa-github" aria-hidden="true"></i>
        </button>
    </div>
</div>
