<div>
    <div class="version">v0.0.9</div>
    <nav>
        <!-- <a routerLink="/" class="logo"></a> -->
        <ul *ngIf="(af.auth | async)">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a routerLink="/people" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i></a></li>
            <li>
                <a routerLink="/messages" routerLinkActive="active">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div *ngIf="countMessage != 0" class="count-message"><i class="fa fa-bell" aria-hidden="true"></i></div>
                </a>
            </li>
            <li><a routerLink="/chat" routerLinkActive="active"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
            <li><a routerLink="/login" routerLinkActive="active" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <audio #audio>
        <source src="../assets/mp3/vk.mp3" type="audio/mpeg">
        <source src="../assets/mp3/vk.ogg" type="audio/ogg">
    </audio>
</div>
