img {
    max-width: 100%;
}
.line {
    position: relative;
    height: 1px;
    background-color: #ccc;
    margin-top: -1px;
    z-index: 1;
}
header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    padding: 0 15px;
}
.user-block-wrapp {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}
.user-block-wrapp h1 {
    margin: 0;
}
.user-block-wrapp .user-photo {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.chat-wrapp {
    position: relative;
    overflow-y: scroll;
    height: calc(100vh - 330px);
    padding: 20px;
    background-color: #f5fafc;
    margin-left: -15px;
    margin-right: -15px;
}
.chat-item {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0px;
}
.chat-item h4 {
    margin-left: 70px;
    margin: 0 0 5px 70px;
    font-size: 14px;
    color: #8ca8b4;
    font-weight: 600;
}
.item-message {
    position: relative;
}
.item-message:after {
    content: '';
    display: table;
    clear: both;
}
.chat-item .item-text {
    border-radius: 5px;
    background-color: #bfe9f9;
    float: left;
    min-height: 50px;
    padding: 15px;
    word-wrap: break-word; /* Перенос слов */
    width: calc(100% - 70px);
}
.chat-item.my-messages {
    margin-right: 0px;
    margin-left: 20px;
}
.chat-item.my-messages  .item-text {
    background-color: #dcf2fa;
}
.chat-item img {
    display: block;
    float: left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    overflow: hidden;
}
footer {
    height: 200px;
    padding-top: 20px;
}
footer textarea {
    resize: none;
}
@media screen and (max-width: 767px) {
    header {
        padding: 0;
        height: 80px;
    }
    .chat-wrapp {
        height: calc(100vh - 235px);
    }
    .user-block-wrapp .user-photo {
        width: 80px;
    }
    .user-block-wrapp h1 {
        font-size: 20px;
    }
    .user-block-wrapp .email {
        font-size: 12px;
    }
    footer {
        height: 150px;
    }
    footer button,
    .enter-btn-block button {
        padding: 5px 10px;
        font-size: 14px;
    }
}
