/* You can add global styles to this file, and also import other style files */
@import "./assets/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css";
/*@import "./assets/bootstrap-3.3.7-dist/css/bootstrap.min.css";
@import "./assets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css";*/

@import "./assets/font-awesome-4.7.0/css/font-awesome.min.css";
@import "./app/spinner.css";

@font-face {
    font-family: "Emoji";
    src: url('./assets/fonts/EmojiOneColor-SVGinOT.ttf')  format('truetype');
}

.form-control:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0;
}
.form-control:focus::-moz-placeholder { /* Firefox 19+ */
    opacity: 0;
}
.form-control:focus:-ms-input-placeholder { /* IE 10+ */
    opacity: 0;
}
.form-control:focus:-moz-placeholder { /* Firefox 18- */
    opacity: 0;
}

img {
    max-width: 100%;
}
button {
    outline: none;
}
emoji-input {
    width: calc(100% - 105px);
}
emoji-input input {
    padding: 8px 40px 8px 10px !important;
}
@media screen and (min-width: 1200px) {
    emoji-input{
        font-family: "Emoji", "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
